<h1>My portfolio</h1>
<p>Behold the talent before you!</p>

<% if user_signed_in? %>
  <%= link_to 'Add portfolio item', new_portfolio_item_path, class: 'btn btn-success' %>
<% end %>

<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @portfolio_items.each_with_index do |_, index| %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @portfolio_items.each_with_index do |portfolio_item, index| %>
          <div class="item <%= 'active' if index == 0 %> ">
            <%= image_tag portfolio_item.image %>
            <div class="carousel-caption">
              <%= portfolio_item.caption %>
            </div>
          </div>
        <% end %>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div></div>
